body{
    margin: 0px;
}

header{
    display: flex;
    top:0;
    width: 100%; 
    background-color:rgb(4, 121, 255); 
    justify-content: space-between; 
    position: fixed;
    z-index: 1;
    color:rgb(13, 10, 19);
    padding: 20px;
}

nav a{
    padding: 10px 25px; 
    text-decoration: none;
    color: rgb(17, 14, 14);
}

section.home{
    background: url("BG15.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: 50% 50%;
    height : 500px;
}
section.home div{ 
        text-align: center; 
        color: rgb(3, 3, 3); 
        margin:auto; 
        padding: 20px;
        width: 50%;
    } 
section.home.welcome{ 
    font-size: 30px;
    } 
section.home a{
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    text-decoration: none; 
    box-shadow: 0px 0px 3px; 
    border-radius: 20px; 
}

section.about{
    background-color: rgb(250, 240, 240); 
    height: 600px;
}

section.product{ 
    background: url("GB4.webp"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 600px;
} 

section.contact{ 
    background-color: black; 
    height: 600px; 
}

footer {
background-color: black;
height:50px;
}

section{
    height: 600px;
    background:url("BG12.jpeg");
    background-attachment: fixed;
    padding-top:100px;
}

section.about{
    background-color: rgb(11, 1, 1);
    height: 600px; 
    padding-top: 100px;
}

section.about div{
    color:rgb(15, 1, 1);
    text-align: center; 
    margin:auto; 
    width:70%;
}

section.about img{ 
    height: 300px; 
}



section.product{ 
    background: url(BG12.jpeg)
 }
    
section.product .container { 
justify-content: center; 
        display: flex; 
        flex-wrap: wrap; 
        padding-top: 50px;
}
section.product .container .card{ 
    background-color: white; 
    text-align: center; 
    padding: 5px; 
    width:150px; 
    height: 450px; 
    margin: 15px;
    font-size: 13px;
    border-radius: 10px;
    
}
section.product .container .card img{
width: 100%;
}
section.product .container .card a {
    color:black; 
    padding: 5px 20px; 
    text-decoration: none; 
    box-shadow: 0px 0px 3px;
     border-radius: 20px;
     font-size: 10px;
}
section.contact{ 
    background: url(BG4.webp)
 }
section.contact {
    background-color: rgb(168, 130, 65);
    padding: 80px 0;
}
section.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contact .card {
    background-color: beige;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
}
.checked{
    color:yellow;
}
